#dv-home #dv-banner p {
    font-size: 24px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
}

#dv-home #dv-banner #image-banner {
    width: 100%;
}

#dv-services label {
    color: #000;
    font-size: 34px;
}

#dv-services p {
    font-size: 23px;
}

#dv-services img {
    width: 32%;
}

#dv-case-studies img {
    width: 100%;
}