#dv-subfooter {
    background-color: #333;
    font-size: 20px;
    padding: 24px 0px;
}

#dv-copyright {
    border-top: 1px solid rgba(255,255,255,.24);
    color: #edeceb !important;
    opacity: .48;
}